<style type="text" id="album">
    <div id="album-page" class="white-color">
		<div class="col-lg-12 main-header">
            <span class="pull-right">共有<strong><%= total %></strong>张图片</span>
			<br>
        </div>
		<div class="col-lg-12 main-body table">
			<% albums.forEach(function(album){ %>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<a href="javascript:;" class="thumbnail">
						<img src="/img/ueditor/<%= album %>">
					</a>
				</div>
			<% }) %>
			<span class="paging pull-right" style="margin-right: 25px"></span>
		</div>
	</div>
</style>
