<style type="text" id="album">
    <div id="album-page" class="white-color">
		<div class="col-lg-12 main-header">
            <span class="pull-right">共有<strong><%= total %></strong>张图片</span>
			<br>
        </div>
		<div class="col-lg-12 main-body table">
			<% albums.forEach(function(album,i){ %>
				<div class="albums-img">
					<div class="albums-img-preview" style="background-image: url('/img/ueditor/<%= album %>')"></div>
				</div>
			<% }) %>
		</div>
		<span class="paging a"></span>
	</div>
</style>
