<style type="text" id="article">
    <div id="article-page">
        <div class="col-lg-12 main-header white-color">
            <span>
                <a href="javascript:;" class="btn btn-delete del-batch"><i class="glyphicon glyphicon-trash"></i>批量删除</a>
            </span>
            <span class="pull-right">共有<strong><%= total %></strong>遍文章</span>
        </div>
        <div class="main-body table-responsive">
            <table class="table table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <th width="2%">
                            <input type="checkbox" class="batch-selection">
                        </th>
                        <th width="8%">文章缩略图</th>
                        <th width="15%">文章标题</th>
                        <th width="5%">文章置顶</th>
                        <th width="5%">文章公开</th>
                        <th width="5%">发布时间</th>
                        <th width="5%">更新时间</th>
                        <th width="5%">编辑管理</th>
                    </tr>
                </thead>
                <tbody>
                    <% acticles.forEach(function(acticle,i){ %>
                        <tr>
                            <th><input type="checkbox" name="<%= acticle._id %>"></th>
                            <td>
                                <img src="/img/thumbnail/<%= acticle.thumbnail %>" height="60px">
                            </td>
                            <td><strong><%= acticle.title %></strong></td>
                            
                            <% if( acticle.stickyPost ){ %>
                                <td><strong>是</strong></td>
                            <% }else{ %>
                                <td><strong>否</strong></td>
                            <% } %>

                            <% if( acticle.lastest ){ %>
                                <td><strong>是</strong></td>
                            <% }else{ %>
                                <td><strong>否</strong></td>
                            <% } %>

                            <td><strong><%= acticle.meta.createAt %></strong></td>
                            <td><strong><%= acticle.meta.updateAt %></strong></td>
                            <td>
                                <a href="javascript:;" class="tooltip-test" data-toggle="tooltip" title="修改文章">
                                    <i class="glyphicon glyphicon-pencil"  name="<%= acticle._id %>"></i>
                                </a>
                                <a href="javascript:;" class="tooltip-test" data-toggle="tooltip" title="删除文章">
                                    <i class="glyphicon glyphicon-trash" name="<%= acticle._id %>"></i>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <span class="paging pull-right">1</span>
        </div>
    </div>
</style>


