<style type="text" id="home">
    <div id="home-page">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
            <div class="statistical">
                <div class="statistical-list">
                    <p class="statistical-list-header">总文章数量</p>
                    <div class="statistical-list-body">
                        <p>共<strong><%= acticles %></strong>遍</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="statistical">
                <div class="statistical-list">
                    <p class="statistical-list-header">最近更新文章数量</p>
                    <div class="statistical-list-body">
                        <p>共<strong><%= updateNumber %></strong>遍</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="statistical">
                <div class="statistical-list">
                    <p class="statistical-list-header">总阅读人次</p>
                    <div class="statistical-list-body">
                        <p>共<strong><%= readingNumber %></strong>次</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</style>
